<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link rel="stylesheet" href="{% static 'order/bootstrap/bootstrap.min.css' %}" media="screen">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/./">맛나농원</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/order/"> 주문목록 <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_products/"> 상품안내 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">기타문의는 전화주세요(010-3066-1457)</a>
      </li>
    </ul>
  </div>
</nav>
   <!-- <a href="/order/"> order </a> -->
   <!-- <a href="/about_products/"> about_products </a> -->

    <h2> <공지사항> </h2>
    <h4> 전화주문 주시면 확인되는 대로 홈페이지에 업로드 하겠습니다.</h4>
    <h4> 홈페이지에 주문주신 정보가 업로드 되었다면 그때 입금해주시면 됩니다.</h4>
    <h5> 최대한 당일에 업로드해드리려고 노력하겠습니다. </h5>
    <h5> 그래도 사람이 수작업으로 하다보니 시간이 걸릴 수 있는 점 양해부탁드립니다. </h5>

    {% for p in order_list %}
    <hr>
    <h2><a href="{{p.het_absolute_url}}">{{ p.name }}</a></h2>
    <h4> {{ p.address }} </h4>
    <h4> {{ p.product }} </h4>
    <h3> {{ p.order_date }} </h3>
    {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>